.filter__btn {
    font-size: 25px;
    padding: 5px;
    border-radius: 8px;
    color: #fff;
    background: #fecb3e;
    margin-left: 15px;
    border: 2px solid #fecb3e;
    cursor: pointer;
    max-width: 81px;
}

.btn-active {
    background: #fcfcfc;
    border: 2px solid #fecb3e;
    color: #373737;
}

@media (max-width: 576px) {
    .filter__btn {
        font-size: 18px;
        margin-left: 10px;
    }
}

@media (max-width: 425px) {
    .filter__btn {
        font-size: 14px;
        margin-left: 5px;
    }
}
