.floating-alert{
    position: fixed;
    top: 80px;
    right: 20px;
    left: 20px;
    border-radius: 12px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    /*border-left: 6px solid #0dd51f;*/
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }
  
  .active {
    transform: translateX(0%);
  }
  
  .floating-alert__content{
    display: flex;
    align-items: center;
  }
  
  .floating-alert__content-text{
    font-weight: 500;
    font-size: 20px;
    color: #000000;
  }
  
  .floating-alert__progress, .active-error{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
  }
  
  .floating-alert__progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #0dd51f;
  }
  
  .active-error:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #d50d0d;
  }
  
  .active:before{
    animation: floating-alert__progress, active-error 2.5s linear forwards;
  }
  
  @keyframes floating-alert__progress {
    100%{
      right: 100%;
    }
  }
  
  @keyframes active-error {
    100%{
      right: 100%;
    }
  }
  
  @media (min-width:600px) {
  
    .floating-alert{
      left: 62%;
    }
  
    .floating-alert__content-text{
      font-weight: 500;
      font-size: 24px;
    }
  }
  