.search__panel-input {
    padding: 5px;
    border-radius: 8px;
    border: 2px solid  #FECB3E;
    font-size: 25px;
    outline: none;
    cursor: pointer;
    width: 60%;
}

@media (max-width: 576px) {
    .search__panel-input {
      font-size: 18px;
      width: 60%;
    }
  }

@media (max-width: 425px) {
  .search__panel-input {
    font-size: 16px;
  }
}