.todo-footer {
    padding: 15px;
    box-shadow: 0 4px 96px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 30px 30px;
    color: #fff;
}

.search__panel {
    display: flex;
    justify-content: center;
}

@media (max-width: 425px) {
    .todo-footer {
        padding: 10px;
    }
}
